@model UserWithRoleViewModel

<section class="change-role">
    <div class="container"> 
        <div class="form-title">USERS LIST</div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        <hr>
        <div class="mb-2">All the user in database.</div>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger no-bullets"></div>

        @if (Model.UserModels != null)
        {
            foreach (var user in Model.UserModels)
            {
                <div class="user-row">
                    <form class="d-grid align-items-center justify-content-start" method="post" novalidate>
                        <div class="user-info">
                            <h3>@user.FirstName @user.LastName</h3>
                            <span class="fw-bolder ms-1">ID: </span> @user.Id
                            <span class="fw-bolder ms-4">PhoneNumber: </span> @user.PhoneNumber
                            <span class="fw-bolder ms-4">E-mail: </span> @user.Email
                        </div>

                        <div class="d-grid" method="post" novalidate>
                            <div class="d-grid my-2">
                                <label asp-for="@Model.RoleName" class="fw-bolder"></label>
                                <select asp-for="@Model.RoleName">
                                    <option selected>@user.RoleName.ToUpper()</option>
                                    @if(Model.Roles != null)
                                    {
                                        @foreach (var role in Model.Roles)
                                        {
                                            if (user.RoleName.ToUpper() != @role.Name!.ToUpper())
                                            {
                                                <option value="@role.Name!.ToUpper()">@role.Name!.ToUpper()</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-md">Change</button>
                        </div>
                    </form>
                </div>
            }
        }
        
    </div>
</section>

<style>
    .user-row {
        padding: 8px;
        background: lightgreen;
        border: dashed;
        ;
    }

</style>